@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, /Users/kellykampen/code/blog/source/stylesheets/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #29A9DB;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  /* line 13, /Users/kellykampen/code/blog/source/stylesheets/base/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #014467;
    color: white; }
  /* line 18, /Users/kellykampen/code/blog/source/stylesheets/base/extends/_button.scss */
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1.1em;
  line-height: 1.8; }

/* line 10, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.7;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 22, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
h1 {
  font-size: 2.31em; }

/* line 26, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
h2 {
  font-size: 1.925em;
  color: #00B0E3; }

/* line 31, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
h3 {
  font-size: 1.65em; }

/* line 35, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
h4 {
  font-size: 1.375em; }

/* line 39, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
h5 {
  font-size: 1.1em; }

/* line 43, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
h6 {
  font-size: 1.1em; }

/* line 47, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.9em; }

/* line 51, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #29A9DB;
  text-decoration: none; }
  /* line 56, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
  a:hover {
    color: #014467; }
  /* line 60, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
  a:active, a:focus {
    color: #014467;
    outline: none; }

/* line 66, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.8em 0; }

/* line 74, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 80, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.8em 0;
  padding-left: 0.9em; }

/* line 88, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
h1 + blockquote, h2 + blockquote, h3 + blockquote, h4 + blockquote, h5 + blockquote, h6 + blockquote {
  margin-top: 0; }

/* line 93, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 97, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
  cite:before {
    content: "\2014 \00A0"; }

/* line 102, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
pre {
  margin: 0px 20px 20px 0px;
  background-color: #f6f6f6;
  font-size: 0.85em;
  line-height: 1.4;
  padding: 10px;
  white-space: pre-wrap; }

/* line 111, /Users/kellykampen/code/blog/source/stylesheets/base/_typography.scss */
pre, code {
  font-family: "Menlo", "Consolas", monospace; }

/* line 1, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.9em 0;
  padding: 1.8em; }

/* line 8, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1.1em; }

/* line 16, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.45em; }
  /* line 20, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1.1em;
  margin-bottom: 0.9em;
  padding: 0.6em 0.6em;
  width: 100%; }
  /* line 44, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
  textarea:hover,
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 48, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
  textarea:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(38, 38, 38, 0.7);
    outline: none; }

/* line 55, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.45em; }

/* line 69, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.9em;
  width: 100%; }

/* line 74, /Users/kellykampen/code/blog/source/stylesheets/base/_forms.scss */
select {
  margin-bottom: 1.8em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/kellykampen/code/blog/source/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.9em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/kellykampen/code/blog/source/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.9em 0;
  text-align: left; }

/* line 15, /Users/kellykampen/code/blog/source/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.9em 0; }

/* line 20, /Users/kellykampen/code/blog/source/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, /Users/kellykampen/code/blog/source/stylesheets/base/_lists.scss */
ul,
ol {
  margin-bottom: 0.9em;
  padding-left: 1.8em; }

/* line 7, /Users/kellykampen/code/blog/source/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.9em; }
  /* line 10, /Users/kellykampen/code/blog/source/stylesheets/base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.9em; }
  /* line 15, /Users/kellykampen/code/blog/source/stylesheets/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Users/kellykampen/code/blog/source/stylesheets/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* Bitters needs to be imported before Neat */
/* line 4, /Users/kellykampen/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, /Users/kellykampen/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 1, /Users/kellykampen/code/blog/source/stylesheets/partials/_layout.scss */
#main {
  max-width: 43.75em;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, /Users/kellykampen/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/gems/bourbon-4.2.2/app/assets/stylesheets/addons/_clearfix.scss */
  #main::after {
    clear: both;
    content: "";
    display: table; }

/* line 5, /Users/kellykampen/code/blog/source/stylesheets/partials/_layout.scss */
nav {
  border-bottom: 1px solid #DDD;
  margin: 2.5em 0;
  text-align: center; }

/* line 11, /Users/kellykampen/code/blog/source/stylesheets/partials/_layout.scss */
.article-summary {
  border-bottom: 1px solid #DDD;
  margin-bottom: 40px;
  padding-bottom: 20px; }
  /* line 15, /Users/kellykampen/code/blog/source/stylesheets/partials/_layout.scss */
  .article-summary h4 {
    padding-bottom: 7px; }

/* line 20, /Users/kellykampen/code/blog/source/stylesheets/partials/_layout.scss */
.article-info {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 30px; }
  /* line 25, /Users/kellykampen/code/blog/source/stylesheets/partials/_layout.scss */
  .article-info img {
    vertical-align: middle;
    margin-right: 8px; }
  /* line 29, /Users/kellykampen/code/blog/source/stylesheets/partials/_layout.scss */
  .article-info .author {
    font-style: italic;
    color: #29A9DB; }

/* line 35, /Users/kellykampen/code/blog/source/stylesheets/partials/_layout.scss */
.tags {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  display: inline;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 0.7em; }

/* line 43, /Users/kellykampen/code/blog/source/stylesheets/partials/_layout.scss */
#disqus_thread {
  margin-top: 50px; }

/* line 1, /Users/kellykampen/code/blog/source/stylesheets/partials/_footer.scss */
footer {
  border-top: 1px solid #DDD;
  margin: 2em 0;
  padding-top: 2em; }

/* line 1, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight table td {
  padding: 5px; }

/* line 2, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight table pre {
  margin: 0; }

/* line 3, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .c, .highlight .cd, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
  color: #999999; }

/* line 6, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .o, .highlight .ow {
  color: #666666; }

/* line 9, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .p, .highlight .pi {
  color: #666666; }

/* line 12, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight, .highlight .w {
  color: #333333; }

/* line 15, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .k, .highlight .kc, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kv {
  color: #0080dd; }

/* line 18, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .nl {
  color: #0080dd; }

/* line 21, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .kd {
  color: #00b0e3; }

/* line 24, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .nt {
  color: #00b0e3; }

/* line 27, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .l, .highlight .ld, .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss, .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #006AA1; }

/* line 30, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .nb, .highlight .bp {
  color: #006AA1; }

/* line 33, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .nc {
  color: #014467; }

/* line 36, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .no {
  color: #014467; }

/* line 39, /Users/kellykampen/code/blog/source/stylesheets/partials/_syntax.css.erb */
.highlight .na {
  color: #014467; }
.footer{padding:30px 0 40px;font-size:0.85rem;font-family:"microsoft yahei", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif}.footer:after{content:"";display:table;clear:both}.footer--brand a{display:inline-block;vertical-align:top;background-image:url("../images/logo-b9280c4e.png");height:24px;width:107px;text-indent:-999999px}@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx){.footer--brand a{background-image:url("../images/logo_2x-fc97d8c6.png");background-size:107px 24px}}.footer--copyright{color:#00B0E3}@media screen and (max-width: 767px){.footer{text-align:center}.footer--menu{margin:10px 0}}@media screen and (min-width: 768px){.footer--brand{float:left;margin-right:20px}.footer--menu,.footer--copyright{margin-top:3px}.footer--menu{float:left}.footer--copyright{float:right}}
